{% extends 'header.html' %}
{% load static %}
{% block content %}


	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search arewa -->
	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Get 24/7 Support</p>
						<h1>Details Product</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

    {% if msg %}
    <div class ="alert alert-danger" role="alert">
    {{msg}}
    </div>
    {% endif %}

	<!-- contact form -->
    
	<div class="col-lg-4 col-md-6 text-center strawberry" >
        <div class="single-product-item" >
            <div class="product-image">
                <a href=""><img src="{{product.pimg.url}}" style="height:100px; width:100px;" alt=""></a>
            </div>
            <h3>{{product.pname}}</h3>
			<h6>{{product.pcategory}}</h6>
            <p class="product-price"><span>{{product.pbrand}}</span> {{product.pprice}} Rs. </p>

			{% comment %} {% if w1 == True %}
            <a href="{% url 'dcart' pk=product.pk %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Remove Cart</a>
			{% else %}
            <a href="{% url 'addcart' pk=product.pk %}" class="cart-btn"></i> Add to cart </a>
            {% endif %}
			<a href="{% url 'deletep' pk=product.pk %}" class="cart-btn"></i> Like </a> {% endcomment %}

			{% if w == True %}
			<a href="{% url 'dlike' pk=i.product.pk %}" class="cart-btn"></i>Remove Like </a>
            {% else %}
            <a href="{% url 'addlike' pk=product.pk %}" class="cart-btn"></i> Like </a>
            {% endif %}
            
            <a href="{% url 'add_to_cart' product.pk %}" class="cart-btn"></i> Add to cart </a>
        </div>
    </div>
    
	<!-- end contact form -->

	

{% endblock %}